<div class="col-md-12">
    <div class="col-md-8 col-sm-7 grid-panel">
        <div class="container-grid full-width">
            <div *ngIf="_isLoading" class="center-spinner" layout="row" layout-sm="column" layout-align="space-around">
                <md-spinner></md-spinner>
            </div>
            <div *ngIf="!_isLoading" class="form-control" class="grid-box center-grid">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr class="grid" *ngFor="let row of _puzzle?._puzzle , let i = index" [attr.id]="'gridRowId' + i">
                            <td *ngFor="let cell of row, let j = index" [attr.id]="'cellId' + i + '' + j">
                                <input #attrRead class="readOnlyCell" *ngIf="!cell._hide" readonly maxlength="1" type="text" name="inputCell" id="{{i}}{{j}}"
                                        [ngModel]="cell._value" (keydown)="onKeyDownEventHandler($event, attrRead.id)" />
                                <input #attrWrite [ngClass]="{readWriteCell: !_puzzle._puzzle[i][j]._isRed, errorCell: _puzzle._puzzle[i][j]._isRed }"
                                        *ngIf="cell._hide" maxlength="1" type="text" name="inputCell" id="{{i}}{{j}}" [(ngModel)]="cell._value"
                                        oncopy="return false" onpaste="return false"
                                        (keydown)="onKeyDownEventHandler($event, attrWrite.id)" (keyup)="onValueChange($event, attrWrite.id)"
                                        (keypress)="validateInputValue($event)" />
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-5">
        <md-card>
            <md-card-content>
                <h2>
                    <span [ngClass]="{hidden: _hiddenClock}" class="glyphicon glyphicon-time" aria-hidden="true"> </span> 
                    <span *ngIf="!_hiddenClock">{{_time.printHours()}} : {{_time.printMinutes()}} : {{_time.printSeconds()}}</span>
                    <span *ngIf="!_hiddenClock" (click)="toggleClock()" class="glyphicon glyphicon-eye-close" aria-hidden="true"> </span>
                    <span *ngIf="_hiddenClock" (click)="toggleClock()" class="glyphicon glyphicon-eye-open" aria-hidden="true"> </span>
                </h2>
            </md-card-content>
            <md-card-content>
                <h2><span class="glyphicon glyphicon-user" aria-hidden="true"> </span> {{_userSetting.name}}</h2>
            </md-card-content>
            <md-card-content>
                <h2 *ngIf="_userSetting.difficulty === 0">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> FACILE
                </h2>
                <h2 *ngIf="_userSetting.difficulty === 1">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> DIFFICLE
                </h2>
            </md-card-content>
            <md-card-actions>
                <button md-button *ngIf="!_isLoading" type="button" class="btn btn-primary" (click)="initializeCurrentGrid()">Reset</button>
                <button md-button *ngIf="!_isLoading" type="button" class="btn btn-primary" (click)="getNewPuzzle(0)">Facile</button>
                <button md-button *ngIf="!_isLoading" type="button" class="btn btn-primary" (click)="getNewPuzzle(1)">Difficile</button>
            </md-card-actions>
        </md-card>

        <div [ngClass]="{hidden: _isCongratulationMessageHidden}" class="col-md-12 alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" (click)="hideMessageCongratulation()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Felicitations !</strong> Vous avez réussi cette grille de niveau
            <strong *ngIf="_userSetting.difficulty === 0"> FACILE. </strong>
            <strong *ngIf="_userSetting.difficulty === 1"> DIFFICILE </strong>
        </div>

        <div id="leaderboard" [ngClass]="{hidden: _isTopRecordHidden}" class="col-md-12">
            <md-tab-group>
                <md-tab label="Facile" style="color: white;">
                    <table id="lead-table-easy" class="table table-hover table-responsive">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Pseudonyme</th>
                            <th>Temps</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let record of _easyRecords">
                            <td>{{record.username}}</td>
                            <td>
                                <span *ngIf="record._time._hours < 10">0</span>{{record._time._hours}} :
                                <span *ngIf="record._time._minutes < 10">0</span>{{record._time._minutes}} :
                                <span *ngIf="record._time._seconds < 10">0</span>{{record._time._seconds}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-tab>
                <md-tab label="Difficile">
                    <table id="lead-table-hard" class="table table-hover">
                        <thead>
                        <tr>
                            <th>Pseudonyme</th>
                            <th>Temps</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let record of _hardRecords">
                            <td>{{record.username}}</td>
                            <td>
                                <span *ngIf="record._time._hours < 10">0</span>{{record._time._hours}} :
                                <span *ngIf="record._time._minutes < 10">0</span>{{record._time._minutes}} :
                                <span *ngIf="record._time._seconds < 10">0</span>{{record._time._seconds}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-tab>
            </md-tab-group>
        </div>
    </div>
</div>
