<form #f='ngForm' class="full-height user-setting">
    <div id="username" class="form-group user-setting-content">
        <div #alertBox class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" (click)="closeAlert()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Pseudonyme déjà existant.</strong> Essayez-en un autre!
        </div>
        <md-input-container #username class="example-full-width" (change)="activateLoginNext()">
            <input mdInput placeholder="Pseudonyme">
        </md-input-container>
        <button id="loginNext" type="submit" class="btn btn-primary btn-lg" *ngIf="_isLoginNextActivated" (click)="verifyUsername(username.value)">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </button>
    </div>
</form>