.chatContainer {
    width:100%;
    height:533px;
    border: 2px solid dimgrey;
    background-color: white;
}

.chatTitle {
    padding:4px;
    width: auto;
    border-bottom: 2px solid dimgrey;
    font-size: larger;
    font-family: Arial, "Times New Roman", Georgia;
}

.chatMessageBox {
    height:412px;
    overflow-y:scroll;
    border-bottom: 1px solid black;
}

.individualMessages {
    word-wrap: break-word;
    list-style: none;
    border-bottom: 1px solid dimgrey;
    padding: 3px;
    background-color: lightgray;
}
.individualMessages:nth-child(odd) {
    background: white;
    word-wrap: break-word;
}

#inputMessage {
    /**/
}