.chatContainer {
    width: 100%;
    height: 630px;
    background-color: #eee;
}

.chatTitle {
    padding: 7px;
    width: auto;
    border-bottom: 2px solid dimgrey;
    /*font-family: Arial, "Times New Roman", Georgia;*/
    font-size: 26px;
}

.chatMessageBox {
    height: 412px;
    border: 1px solid #ddd;
    /*border-radius: 15px;*/
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,0.16);
}

.individualMessages {
    word-wrap: break-word;
    list-style: none;
    border-bottom: 1px solid dimgrey;
    padding: 3px;
    background-color: lightgray;
}

.individualMessages:nth-child(odd) {
    background: white;
    word-wrap: break-word;
}
