.container {
    width: 30%;
    border: 0px solid #d3d3d3;
    background-color: white;
}

.logo {
    padding-top: 2vh;
    padding-left: 2vh;
    height: 20vh;
    min-height: 75px;
}

.vertical-center {
    /*height: 90%;   Fallback for browsers do NOT support vh unit */
    /*min-height: 100vh;  These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}