.centered {
    float: none;
    margin: auto;
    width: 50%;
}

.container {
    width: 30%;
    border: 0px solid #d3d3d3;
    background-color: white;
}

h1.centered {
    padding: 2vh 0;
    text-align: center;
    width: 100%;
}

h3.centered {
    word-break: keep-all;
}

.btn-danger {
    margin: 2vh 0;
}