<div class="chatContainer">
    <div class="chatTitle">Chat Room</div>
    <div #scroll class="chatMessageBox">
        <div class="individualMessages" *ngFor="let message of messageArray">{{message}}</div>
    </div>
    <div class="chatTextBox">
        <form autocomplete="off">
            <input #message (keydown.enter)="submitMessage(message)" id="inputMessage" type="text" placeholder="Enter your message" />
            <button (click)="submitMessage(message)" id="submitMessage" type="submit">Send</button>
        </form>
    </div>
</div>