<div class="col-xs-12 header">
    <img class="logo" src="../assets/images/Scrabble_Logo.png" alt="logo" />
</div>
<div class="col-xs-12 content vertical-center">
    <md-card class="container center-block">
        <md-card-header>
            <div md-card-avatar class="example-header-image"></div>
            <md-card-title>LOGIN</md-card-title>
        </md-card-header>
        <!--<img md-card-image src="assets/img/examples/shiba2.jpg">-->
        <md-card-content>
            <form (submit)="sendNewGameRequest(username.value, numberOfPlayers.value)">
                <div class="form-group has-danger">
                    <label for="name">Username</label>
                    <input #username
                        pattern="[A-Za-z0-9]*"
                        value="{{socketService.player.username || ''}}"
                        type="text"
                        class="form-control"
                        placeholder="Please enter a username"
                        [disabled]="socketService.player.username !== ''"
                        id="name"
                        autocomplete="off"
                        required>
                </div>
                <div class="form-group">
                    <label for="numberOfPlayers">Number of players</label>
                    <select #numberOfPlayers id="numberOfPlayers" style="width: 70%" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
                    <br>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </md-card-content>
        <md-card-actions>
            <!--<button md-button>LIKE</button>-->
        </md-card-actions>
    </md-card>



</div>