<div class="main-wrapper">
    <div class="row">
        <div class="col-md-12 content-wrapper">
            <div class="col-md-3 info-wrapper">
                <info-panel-selector>...Loading information panel</info-panel-selector>

                <div class="control-panel col-md-12">
                    <p class="control-panel-title">Control panel</p>
                </div>

                <div class="col-md-12 easel-box">
                    <easel-selector (easelTabKeyEvent)="onTabKeyEventFromEasel($event)">
                        Loading easel...
                    </easel-selector>
                </div>

            </div>

            <div class="col-md-6 board-wrapper">
                <div class="col-md-12">
                    <scrabble-main-board-selector>Loading Scrabble board 2 here...</scrabble-main-board-selector>
                </div>

                <div class="col-md-12 command-box-wrapper">
                    <div class="icon-left-box col-md-2">
                        <br>
                    </div>
                    <div class="input-box col-md-8">
                        <div class="form-group">
                            <textarea #message id="inputMessage" [(ngModel)]="_inputMessage" autofocus class="form-control" rows="2" (keydown.enter)="submitMessage()" (keydown)="onKeyPressEventHandler($event)" placeholder="Enter your message"></textarea>

                        </div>
                    </div>

                    <div class="submit-btn-box col-md-2">
                        <button (click)="submitMessage(message)" id="submit-btn" type="submit" type="button" class="btn btn-info btn-md">Send</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3 chat-wrapper">
                <scrabble-chatroom-selector> Loading chatroom...</scrabble-chatroom-selector>
            </div>
        </div>
        <div class="col-md-12 footer-wrapper">
        </div>
    </div>
</div>