<div class="col-xs-12 header">
    <div class="col-xs-12 col-sm-6 header">
        <img src="../assets/images/Scrabble_Logo.png" alt="logo" />
    </div>
    <div class="col-xs-12 col-sm-6 header">
        <!--player info here-->
        <button type="button" class="btn btn-danger btn-block" (click)="quitGame()">Quitter</button>
    </div>
</div>

<div class="col-xs-12 content main-wrapper ">
    <div class="col-lg-1 col-xs-0">
    </div>

    <div class="col-lg-2 col-md-3 info-wrapper">
        <info-panel-selector>Chargement du panneau d'informations...</info-panel-selector>

        <div class="col-md-12 easel-box">
            <easel-selector (easelTabKeyEvent)="onTabKeyEventFromEasel($event)">Chargement du chevalet...</easel-selector>
        </div>
    </div>

    <div class="col-md-6 board-wrapper">
        <scrabble-main-board-selector>Chargement du Scrabble...</scrabble-main-board-selector>

        <div class="command-box-wrapper">
            <!--TODO-->
            <div class="input-box col-md-8">
                <div class="form-group">
                    <textarea #message id="inputMessage" [(ngModel)]="_inputMessage" autofocus class="form-control" rows="2" (keydown.enter)="submitMessage();false"
                        (keydown)="onKeyPressEventHandler($event)" placeholder="Entrer votre message ici...">
                    </textarea>
                </div>
            </div>
            <!--TODO-->
            <div class="submit-btn-box col-md-2">
                <button (click)="submitMessage(message)" id="submit-btn" type="submit" type="button" class="btn btn-info btn-md">Send</button>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 chat-wrapper">
        <scrabble-chatroom-selector>Chargement du chat...</scrabble-chatroom-selector>
    </div>

    <div class="col-lg-1  col-xs-0">
    </div>
</div>