<div class="col-md-12">
    <p class="info-title">Information panel</p>

    <table class="info-elements">
        <tbody>
            <tr>
                <td>Temps restant <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </td>
                <td>{{ printMinutes() }}: {{ printSeconds() }}</td>
            </tr>
            <tr>
                <td>Actif
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </td>
                <td>{{ getCurrentPlayer() }}</td>
            </tr>
            <tr>
                <td>Score
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </td>
                <td>{{ getScore() }}</td>
            </tr>
            <tr *ngIf="_lettersOnEasel < 7">
                <td>Chevalet
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </td>
                <td>{{ _lettersOnEasel }}</td>
            </tr>
            <tr>
                <td>En banque
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </td>
                <td>{{ _lettersInBank }}</td>
            </tr>

        </tbody>
    </table>
</div>