<p class="info-title">
<i class="material-icons">info_outline</i> INFORMATIONS
</p>

<div class="info-elements">
    <div>
        <span>TEMPS RESTANT - </span>
        <span>{{ printMinutes() }}: {{ printSeconds() }}</span>
    </div>
    <div>
        <span>VOUS - </span>
        <span>{{ _username }}</span>
    </div>
    <div>
        <span>JOUEUR ACTIF - </span>
        <span>{{ getCurrentPlayer() }}</span>
    </div>
    <div>
        <span>SCORE - </span>
        <span>{{ getScore() }}</span>
    </div>
    <div *ngIf="_lettersOnEasel < 7">
        <span>LETTRES SUR LE CHEVALET - </span>
        <span>{{ _lettersOnEasel }}</span>
    </div>
    <div>
        <span>LETTRES EN BANQUE - </span>
        <span>{{ _lettersInBank }}</span>
    </div>
    <div *ngIf="_winner !== ''">
        <div *ngIf="_isWinner" class="alert alert-success" role="alert">
            <strong>Félicitations !</strong> Vous avez gagné.
        </div>
        <div *ngIf="!_isWinner" class="alert alert-danger" role="alert">
            <strong>Dommage !</strong> {{ _winner }} a gagné.
        </div>
    </div>
</div>