<section class="panel panel-info">
    <header class="panel-heading">
        <h5 class="panel-title">Information panel</h5>
    </header>
    <div class="panel-body">
        <p>Time left: {{printMinutes()}}:{{printSeconds()}} </p>
        <p>Users playing : {{player}}</p>
        <p>Your score : {{score}} </p>
        <p>Number of letters on easel: {{lettersOnEasel}} </p>
        <p>Number of letters left in bank: </p>
    </div>
    <div class="col-md-10 col-md-offset-1">
        <button (click)="changeLettersRequest(); $event.preventDefault()" type="button" class="btn btn-info btn-md">Test Exchange</button>
    </div>
</section>