<div class="form-control" class="grid-box">
           <div class="table-responsive">          
                <table class="table">
                    <tbody>
                        <tr class="grid" *ngFor = "let row of _newPuzzle?.puzzle , let i = index" [attr.id] = "'gridRow' + i">
                            <td *ngFor ="let cell of row, let j = index" [attr.id] = "'cell' + j"> 
                                <input class="readOnlyCell" *ngIf ="!cell.hide" readonly  type="text" name=""
                                [attr.id]="i +''+ j" [ngModel]="cell.value" (keydown)="onKeyEventHandler($event)">

                                <input class="readWriteCell" *ngIf ="cell.hide" type="text" name="" 
                                [attr.id]="i +''+ j"  [(ngModel)]="cell.value" 
                                    (keydown)="onKeyEventHandler($event);"
                                    (onchange)="onValueChange($event);">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
         <!--  
            <div  class="grid" *ngFor = "let row of _newPuzzle?.puzzle , let i = index" [attr.id] = "'gridRow' + i">
                <ng-container *ngFor ="let cell of row, let j = index">
                    <input class="readOnlyCell" *ngIf ="!cell.hide" readonly  type="text" name=""
                    [attr.id]="i +''+ j" [ngModel]="cell.value" (keydown)="onKeyEventHandler($event)">

                    <input class="readWriteCell" *ngIf ="cell.hide" type="text" name="" 
                    [attr.id]="i +''+ j"  [(ngModel)]="cell.value" 
                        (keydown)="onKeyEventHandler($event);"
                        (onchange)="onValueChange($event);">
                </ng-container>
            </div>
        </div>

        -->