<div class="col-md-12">
    <div class="col-md-7 grid-panel">
        <div class="form-control" class="grid-box">
            <div class="table-responsive">          
                <table class="table">
                    <tbody>
                        <tr class="grid" *ngFor = "let row of _newPuzzle?._puzzle , let i = index" [attr.id] = "'gridRowId' + i">
                            <td *ngFor ="let cell of row, let j = index" [attr.id] = "'cellId' + i + '' + j"> 
                                <input class="readOnlyCell" *ngIf ="!cell._hide" readonly [attr.maxlength]="1" type="text" name="inputCell"
                                [attr.id]="i +''+ j" [ngModel]="cell._value" (keydown)="onKeyDownEventHandler($event)">

                                <input class="readWriteCell" *ngIf ="cell._hide" [attr.maxlength]="1" type="text" name="inputCell"
                                [attr.id]="i +''+ j"  [(ngModel)]="cell._value" 
                                    (keydown)="onKeyDownEventHandler($event)"
                                    (keyup) = "onValueChange($event)"
                                    (keypress) = "validateInputValue($event)">
                                    
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-5 menu-panel">
        <button type="button" class="btn btn-primary" (click)="initializeCurrentGrid()">Initialize Game</button>
    </div>
</div>

