display-component,
my-gl {
    position: absolute;
    left: 0px;
    top: 0px;
}

my-gl {
    z-index: -1;
}

.hide-cursor {
    position: absolute;
    cursor: none;
    width: 100vw;
    min-height: 100vh;
    z-index: 2;
}

display-component {
    z-index: 1;
}

.menu-nav {
    z-index: 4;
    position: absolute;
    top: 0;
    right: 0;
}

#display-component {
    background: transparent;
}

#playerName {
    font-family: 'Bungee Inline';
    font-size: 45px;
    color: blue;
    text-align: left
}

#computerName {
    font-family: 'Bungee Inline';
    font-size: 45px;
    color: red;
    text-align: left
}

#score {
    font-family: 'Bungee Inline';
    font-size: 60px;
    color: black;
    text-align: center
}

#firstSetToDo {
    width: 24px;
    height: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background: black;
    display: inline-block;
}

#secondSetToDo {
    width: 24px;
    height: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background: black;
    display: inline-block;
}

#thirdSetToDo {
    width: 24px;
    height: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background: black;
    display: inline-block;
}

#firstSetDone {
    width: 24px;
    height: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background: mediumseagreen;
    display: inline-block;
}

#secondSetDone {
    width: 24px;
    height: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background: mediumseagreen;
    display: inline-block;
}

#thirdSetDone {
    width: 24px;
    height: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background: mediumseagreen;
    display: inline-block;
}

.overlay-content p a {
    color: #818181;
}

.overlay-box button {
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 24px 24px;
    padding: 13px;
}

table {
    width: 60%;
    margin-left: 12%;
}

#endGame-window {
    background-color: rgba(122, 133, 255, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    overflow-y: auto;
    transition: 0.5s;
}

.endGame-window-content {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

#newGame-button {
    position: fixed;
    top: 30px;
    right: 20px;
}

#back-button {
    position: fixed;
    top: 80px;
    right: 20px;
}
p {
    margin-top: 6px;
}
.counterclockwiseArrow {
    width: 4vw !important;
    height: 6vh !important;
    position: absolute;
    top: 87vh !important;
    right: 48vw !important;
    z-index: 4 !important;
}