display-component,
my-gl {
    position: absolute;
    left: 0px;
    top: 0px;
}

my-gl {
    z-index: -1;
}

.hide-cursor {
    position: absolute;
    cursor: none;
    width: 100vw;
    min-height: 100vh;
    z-index: 2;
}

display-component {
    z-index: 1;
}

.menu-nav {
    z-index: 4;
    position: absolute;
    top: 0;
    right: 0;
}

#display-component {
    background: transparent;
}

#playerName {
    font-family: 'Bungee Inline';
    font-size: 45px;
    color: blue;
    text-align: left
}

#computerName {
    font-family: 'Bungee Inline';
    font-size: 45px;
    color: red;
    text-align: left
}

#score {
    font-family: 'Bungee Inline';
    font-size: 60px;
    color: black;
    text-align: center
}

#firstSetToDo {
    width: 24px;
    height: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background: black;
    display: inline-block;
}

#secondSetToDo {
    width: 24px;
    height: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background: black;
    display: inline-block;
}

#thirdSetToDo {
    width: 24px;
    height: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background: black;
    display: inline-block;
}

#firstSetDone {
    width: 24px;
    height: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background: mediumseagreen;
    display: inline-block;
}

#secondSetDone {
    width: 24px;
    height: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background: mediumseagreen;
    display: inline-block;
}

#thirdSetDone {
    width: 24px;
    height: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background: mediumseagreen;
    display: inline-block;
}

.overlay-content p a {
    color: #818181;
}

.overlay-content p a:hover {
    color: #fff;
    text-decoration: none;
}
