body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

html {
    background-image: url("../images/curling.jpg");
    background-size: cover;
}

body{
  margin: 0px;
  overflow: hidden;
}

.user-setting {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(70,50,255); 
    background-color: rgba(70,50,255, 0.9); 
    overflow-y: hidden;
}