body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

body{
    background-image: url("../images/curling.jpg");
    background-size: cover;
  margin: 0px;
  overflow: hidden;
}

.user-setting {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(122, 133, 255, 0.9);
    overflow-y: hidden;
}