body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

html {
    background-image: url("../images/curling.jpg");
    background-size: cover;
}

body{
  margin: 0px;
  overflow: hidden;
}