.user-setting-content {
    position: relative;
    top: 25%; 
    width: 100%;
    height: 100%; 
    text-align: center; 
    margin-top: 30px;
    color: #fddccc;
    font-size: 28px;
}

.pulsation {
    -webkit-animation-name: pulsation;
    animation-name: pulsation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.user-setting-content .btn-secondary {
    /*color: rgb(70,50,255);*/
    background-color: transparent;
}

.user-setting-content .btn-secondary:hover {
    color: rgb(70,50,255);
    background-color: white;
}

.user-setting-content input {
    /*padding: 10px;*/
    background: transparent;
    font-style: italic;
    border: none;
    border-bottom: solid 2px white;
    transition: border 0.3s;
}

.user-setting-content input:focus {
    border-bottom: solid 2px yellow;
}

.user-setting-content p {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block; 
}

.full-height {
    height: 100%;
}


.user-setting-content p:hover, .user-setting-content p:focus {
    color: #f1f1f1;
}


@media screen and (max-height: 450px) {
    .user-setting p {font-size: 20px}
}

@-webkit-keyframes pulsation {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.5, 1.5, 1.5);
        transform: scale3d(1.5, 1.5, 1.5);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulsation {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.5, 1.5, 1.5);
        transform: scale3d(1.5, 1.5, 1.5);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}