
<div class="menu-nav">
    <button #hamburger (mousedown)="toggleOverlay($event)" class="hamburger hamburger--elastic pull-right" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</div>

<div *ngIf="!_gameStatus.isShooting" class="hide-cursor">&nbsp;</div>

<my-gl class="col-sm-12"> </my-gl>

<div id="display-component">
    <div class="col-sm-12">
        <div class="col-sm-4 pull-left">
            <div id="playerName" class="pull-left">
                {{_userSetting._name}}
            </div>
        </div>
        <div id="gameInfo" class="col-sm-4">
            <div id="score" class="col-sm-12">
                {{_gameStatus.scorePlayer}} - {{_gameStatus.scoreComputer}}
            </div>
            <div id="gameSet" class="col-sm-12">
                <div class="col-sm-5">
                    <div *ngIf="_gameStatus.currentSet < 1" id="firstSetToDo" class="pull-right"></div>
                    <div *ngIf="_gameStatus.currentSet >= 1" id="firstSetDone" class="pull-right"></div>
                </div>
                <div class="col-sm-2 ">
                    <div *ngIf="_gameStatus.currentSet < 2" id="secondSetToDo" class="pull-center"></div>
                    <div *ngIf="_gameStatus.currentSet >= 2" id="secondSetDone" class="pull-center"></div>
                </div>
                <div class="col-sm-5 ">
                    <div *ngIf="_gameStatus.currentSet < 3" id="thirdSetToDo" class="pull-left"></div>
                    <div *ngIf="_gameStatus.currentSet >= 3" id="thirdSetDone" class="pull-left"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="computerName" class="pull-right">
                {{this._computerName}}
            </div>
        </div>
        <div class="col-sm-1">
        </div>

        <div class="col-sm-12">
            <div id="playerStones" class="pull-left col-sm-3">
                <div *ngIf="_gameStatus.currentStonesPlayer > 0">
                    <img src=" ../../assets/images/stone-blue.png" alt="Pierre bleue" height="48" width="48">
                </div>
                <div *ngIf="_gameStatus.currentStonesPlayer > 1">
                    <img src="../../assets/images/stone-blue.png" alt="Pierre bleue" height="48" width="48">
                </div>
                <div *ngIf="_gameStatus.currentStonesPlayer > 2">
                    <img src="../../assets/images/stone-blue.png" alt="Pierre bleue" height="48" width="48">
                </div>
                <div *ngIf="_gameStatus.currentStonesPlayer > 3">
                    <img src="../../assets/images/stone-blue.png" alt="Pierre bleue" height="48" width="48">
                </div>
                <div *ngIf="_gameStatus.currentStonesPlayer > 4">
                    <img src="../../assets/images/stone-blue.png" alt="Pierre bleue" height="48" width="48">
                </div>
                <div *ngIf="_gameStatus.currentStonesPlayer > 5">
                    <img src="../../assets/images/stone-blue.png" alt="Pierre bleue" height="48" width="48">
                </div>
                <div *ngIf="_gameStatus.currentStonesPlayer > 6">
                    <img src="../../assets/images/stone-blue.png" alt="Pierre bleue" height="48" width="48">
                </div>
                <div *ngIf="_gameStatus.currentStonesPlayer > 7">
                    <img src="../../assets/images/stone-blue.png" alt="Pierre bleue" height="48" width="48">
                </div>
            </div>
            <div id="computerStones" class="pull-right col-sm-3">
                <div *ngIf="_gameStatus.currentStonesComputer > 0" class="col-sm-12">
                    <img src="../../assets/images/stone-red.png" alt="Pierre rouge" height="48" width="48" class="pull-right">
                </div>
                <div *ngIf="_gameStatus.currentStonesComputer > 1" class="col-sm-12">
                    <img src="../../assets/images/stone-red.png" alt="Pierre rouge" height="48" width="48" class="pull-right">
                </div>
                <div *ngIf="_gameStatus.currentStonesComputer > 2" class="col-sm-12">
                    <img src="../../assets/images/stone-red.png" alt="Pierre rouge" height="48" width="48" class="pull-right">
                </div>
                <div *ngIf="_gameStatus.currentStonesComputer > 3" class="col-sm-12">
                    <img src="../../assets/images/stone-red.png" alt="Pierre rouge" height="48" width="48" class="pull-right">
                </div>
                <div *ngIf="_gameStatus.currentStonesComputer > 4" class="col-sm-12">
                    <img src="../../assets/images/stone-red.png" alt="Pierre rouge" height="48" width="48" class="pull-right">
                </div>
                <div *ngIf="_gameStatus.currentStonesComputer > 5" class="col-sm-12">
                    <img src="../../assets/images/stone-red.png" alt="Pierre rouge" height="48" width="48" class="pull-right">
                </div>
                <div *ngIf="_gameStatus.currentStonesComputer > 6" class="col-sm-12">
                    <img src="../../assets/images/stone-red.png" alt="Pierre rouge" height="48" width="48" class="pull-right">
                </div>
                <div *ngIf="_gameStatus.currentStonesComputer > 7" class="col-sm-12">
                    <img src="../../assets/images/stone-red.png" alt="Pierre rouge" height="48" width="48" class="pull-right">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The overlay -->
<div #overlay id="myNav" class="overlay">
    <div class="overlay-content">
        <p (click)="gameOver()"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Abandonner</p>
        <p (click)="_gameStatus.resetGameStatus()"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span> Recommencer</p>
    </div>
</div>