<modifier [container]="container"> </modifier>
<md-progress-bar
    *ngIf="renderService._angularInfo.isSelectingPower"
    class="power-bar"
    color="primary"
    mode="determinate"
    [value]="renderService._angularInfo.powerBar">
</md-progress-bar>

<div *ngIf="renderService._angularInfo.isSelectingPower
    && renderService._angularInfo !== null
    && renderService._angularInfo.spin === 1"
    class="clockwiseArrow">
        <img src=" ../../assets/images/clockwise-arrow.png" alt="Sens horaire" height="30vw" width="30vw">
</div>

<div *ngIf="renderService._angularInfo.isSelectingPower
    && renderService._angularInfo.spin !== null
    && renderService._angularInfo.spin === 0"
    class="counterclockwiseArrow">
        <img src=" ../../assets/images/counterclockwise-arrow.png" alt="Sens anti-horaire" height="30vw" width="30vw">
</div>

<div #container id="threejs"> </div>
