<modifier [container]="container" [webgltext]="webgltext"> </modifier>
<audio id="broomIn" src="../../assets/sounds/broom-sweep-in.wav" autostart="false" ></audio>
<audio id="broomOut" src="../../assets/sounds/broom-sweep-out.wav" autostart="false" ></audio>
<audio id="collisions" src="../../assets/sounds/collisionHit.wav" autostart="false" ></audio>
<md-progress-bar
    *ngIf="renderService._gameInfo.isSelectingPower
        && renderService._gameInfo.stoneHandler !== null"
    class="power-bar"
    color="primary"
    mode="determinate"
    [value]="renderService._gameInfo.power">
</md-progress-bar>

<div *ngIf="renderService._gameInfo.isSelectingPower
    && renderService._gameInfo.stoneHandler !== null
    && renderService._gameInfo.stoneHandler.currentSpin === 1"
    class="clockwiseArrow">
        <img src=" ../../assets/images/clockwise-arrow.png" alt="Sens horaire" height="30vw" width="30vw">
</div>

<div *ngIf="renderService._gameInfo.isSelectingPower
    && renderService._gameInfo.stoneHandler !== null
    && renderService._gameInfo.stoneHandler.currentSpin === 0"
    class="counterclockwiseArrow">
        <img src=" ../../assets/images/counterclockwise-arrow.png" alt="Sens anti-horaire" height="30vw" width="30vw">
</div>

<div #container id="threejs"> </div>
