<form #f='ngForm'>
    <div id="username" class="form-group">
        <label for="username"> Pseudonyme </label>
        <input type='text' placeholder='Entrer votre pseudo...' name='username' [(ngModel)]="_userSetting._name">
        <button type='submit' (click)='verifyUsername()'>Verifier Pseudo</button>
    </div>

    <div id="difficulty" class="form-group">
        Bonjour {{_userSetting._name}}, veuillez choisir le niveau de difficulte :
        <div class="radio">
            <label>
                    <input type='radio' value='NORMAL' name='normal' [(ngModel)]='_userSetting._difficulty'> Normal 
                    </label>
        </div>
        <div class="radio">
            <label>
                    <input type='radio' value='HARD' name='hard' [(ngModel)]='_userSetting._difficulty'> Difficile
                    </label>
        </div>

        <button type='submit' (click)='launchGame()'>Commencer la partie !</button>
    </div>
</form>
<button type='submit' (click)='goToLeaderBoard()'>Voir les scores</button>