<table class="mainBoard">
    <tr>
       <td class="mainBoard" *ngFor="let scrabbleLine of line1">
            <p>{{ scrabbleLine }}</p>
        </td>
    </tr>
    
    <tr>
        <td class="mainBoard" *ngFor="let scrabbleLine of line2">
            <p>{{ scrabbleLine }}</p>
        </td>
    </tr>
    
    <tr>
        <td class="mainBoard" *ngFor="let scrabbleLine of line3">
            <p>{{ scrabbleLine }}</p>
        </td>
    </tr>
    
    <tr>
        <td class="mainBoard" *ngFor="let scrabbleLine of line4">
            <p>{{ scrabbleLine }}</p>
        </td>
    </tr>
    
    <tr>
        <td class="mainBoard" *ngFor="let scrabbleLine of line5">
            <p>{{ scrabbleLine }}</p>
        </td>
    </tr>
    
    <tr>
        <td class="mainBoard" *ngFor="let scrabbleLine of line6">
            <p>{{ scrabbleLine }}</p>
        </td>
    </tr>
    
    <tr>
        <td class="mainBoard" *ngFor="let scrabbleLine of line7">
            <p>{{ scrabbleLine }}</p>
        </td>
    </tr>
    
    <tr>
        <td class="mainBoard" *ngFor="let scrabbleLine of line8">
            <p>{{ scrabbleLine }}</p>
        </td>
    </tr>
    
    <tr>
        <td class="mainBoard" *ngFor="let scrabbleLine of line9">
            <p>{{ scrabbleLine }}</p>
        </td>
    </tr>
    
    <tr>
        <td class="mainBoard" *ngFor="let scrabbleLine of line10">
            <p>{{ scrabbleLine }}</p>
        </td>
    </tr>
    
    <tr>
        <td class="mainBoard" *ngFor="let scrabbleLine of line11">
            <p>{{ scrabbleLine }}</p>
        </td>
    </tr>
    
    <tr>
        <td class="mainBoard" *ngFor="let scrabbleLine of line12">
            <p>{{ scrabbleLine }}</p>
        </td>
    </tr>
    
    <tr>
        <td class="mainBoard" *ngFor="let scrabbleLine of line13">
            <p>{{ scrabbleLine }}</p>
        </td>
    </tr>
    
    <tr>
        <td class="mainBoard" *ngFor="let scrabbleLine of line14">
            <p>{{ scrabbleLine }}</p>
        </td>
    </tr>
    
    <tr>
        <td class="mainBoard" *ngFor="let scrabbleLine of line15">
            <p>{{ scrabbleLine }}</p>
        </td>
    </tr>
</table>