<div class = "chatContainer">
    <div class = "chatTitle">Chat Room</div>
    <div #scroll class = "chatMessageBox">
        <div class= "individualMessages" *ngFor="let message of messageArray">{{message}}</div>
    </div>
    <div class = "chatTextBox">
        <form autocomplete="off">
            <input #message (keyup.enter) = "submitMessage(message)"
                   id="inputMessage" type="text" placeholder="Enter your message" />
            <input (mousedown) = "submitMessage(message)" id="submitMessage" type="submit" value="Send"/>
        </form>
    </div>
</div>
