<div class="col-md-12">
    <div class="col-md-7 grid-panel">
        <div class="form-control" class="grid-box">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr class="grid" *ngFor="let row of _newPuzzle?._puzzle , let i = index" [attr.id]="'gridRowId' + i">
                            <td *ngFor="let cell of row, let j = index" [attr.id]="'cellId' + i + '' + j">
                                <input #attrRead class="readOnlyCell" *ngIf="!cell._hide" readonly maxlength="1" type="text" name="inputCell" id="{{i}}{{j}}"
                                    [ngModel]="cell._value" (keydown)="onKeyDownEventHandler($event, attrRead.id)"/>
                                <input #attrWrite class="readWriteCell" *ngIf="cell._hide" maxlength="1" type="text" name="inputCell" id="{{i}}{{j}}" [(ngModel)]="cell._value"
                                    (keydown)="onKeyDownEventHandler($event, attrWrite.id)" (keyup)="onValueChange($event, attrWrite.id)"
                                    (keypress)="validateInputValue($event)"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-5 menu-panel">
        <button type="button" class="btn btn-primary" (click)="initializeCurrentGrid()">Initialize Game</button>
        <h2 *ngIf="!_hiddenClock" >
            {{_time.hours}} : {{_time.minutes}} : {{_time.seconds}}
            <span (click)="hideClock()" class="glyphicon glyphicon-ban-circle" aria-hidden="true"> </span>
        </h2>
        <h2 *ngIf="_hiddenClock">
            <span (click)="hideClock()" class="glyphicon glyphicon-time" aria-hidden="true"> </span>
        </h2>
        <h2>{{_userSetting.name}}</h2>
        <h2>{{_userSetting.difficulty}}</h2>
    </div>
</div>